<div ng-controller="classMasterDefnCtrl">

<div class="container">
  <h2>Class Master Definition</h2>
  <input type="text" ng-model="className"  class="form-control"  placeholder="Class Name" style="width: 300px;display: inline-block;"/>
  <input type="text" ng-model="classCode"  class="form-control"  placeholder="Code" style="width: 100px;display: inline-block;"/>
  <!-- <input type="text" ng-model="order"  class="form-control"  placeholder="Code" style="width: 50px;display: inline-block;"/> -->
  <button type="submit"  ng-click="saveClassDefn()" class="btn btn-default" style="width: 100px;display: inline-block;">Add</button>       
  <span id="classMasterData"></span>
 
</div>
 
 
</div>
